/* Add a background color to page body */
body {
	background-color: rgb(202, 232, 210);
}

/* Add a black background color to the menu bar */
.bar {
    background-color: rgb(33, 102, 51);
    overflow: hidden;
}

/* Style the links inside the bar */
.bar a {
    float: left;
    color: rgb(225, 252, 226);
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Monospace";
}

/* Change the color of links on hover */
.bar a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
}

/* Add a color to the focused link */
.bar a:focus {
    color: white;
}

/* Change color when header hovered */
.header:hover {
	color: white;
}

#footer {
	color: white;
}

#footer:hover {
	color: black;
}

.header {
	font-family: "Monospace";
}

.slogan {
	text-align: right;
	font-family: "Monospace";
}

#author {
    margin-left: 12em;
}

#img {
	float: center;
	width: "42";
	height: "65"
}

#slogan {
	margin-left: 20em;
	float: center;
}

/* Separates paragraphs from picture and slogan */
#about {
	margin-top: 18em;
}

.paragraph, .table {
	font-family: "Monospace";
}

/* Removes the line under link 
#link {
	text-decoration: none;
}
*/

h3 {
	margin-left: 20em;
}

.table, #row, #th, #tdata, #tdatay {
	border: .5px solid rgb(1, 38, 7);
}

#th, #tdata, #tdatay {
	padding: 15px;
	width: 200px;
}

#tdatay {
	text-align: center;
}

#lang {
	text-align: right;
}

#row:hover {
	background-color: darkblue;
	color: white;
}

#unordered {
	border-color: rgb(255, 102, 0);
}

footer {
	background-color: rgb(70, 133, 80);
	width: 100%;
	height: 320px
}

#contact_table {
	float: center;
}

#form {
	float: center;
}
